<form action="/cart/add" enctype="multipart/form-data" id="add-to-cart-form" method="post">

    {% if product.variants.size > 1 %}

        <div class="option-row">
            <span class="option-title">
                {{ product.options.first }}
            </span>
            <!-- end option title -->

            <div class="option-fieldset">
                {% for variant in product.variants %}
                    <input class="js-variant-radio" id="variant-{{ forloop.index }}" name="id" type="radio" value="{{ variant.id }}" data-inventory-quantity="{{ variant.inventory_quantity }}" {% unless variant.available %} disabled {% endunless %}>
                    <label for="variant-{{ forloop.index }}">{{ variant.title }}</label>
                {% endfor %}
            </div><!-- end option field set -->

        </div><!-- end option row -->
    {% else %}
        <input type="hidden" name="id" value="{{ product.variants.first.id }}">
    {% endif %}


    <div class="option-row">

        <label class="option-title" for="Quantity">
            {{ 'product.form.quantity' | t }}
        </label><!-- end option title -->

        <div class="option-fieldset">
            <div class="visually-hidden">
                <input class="js-quantity-field" id="Quantity" min="1" name="quantity" type="number" value="1" {% if product.variants.size == 1 %} max={{ product.variants.first.inventory_quantity }} {% endif %}>
            </div>

            <button class="quantity-button js-quantity-button minus" disabled type="button">
                &ndash;
            </button>

            <span class="quantity-text js-quantity-text">
                1
            </span>

            <button class="quantity-button js-quantity-button plus" type="button">
                +
            </button>
        </div><!-- end option fieldset -->

    </div><!-- end option row -->

    <button id="add-to-cart-button" name="add" type="submit" {% if product.variants.size > 1 %} disabled {%endif%}>Add to cart</button>
</form>